/*===========================================================================
GENERIC
===========================================================================*/

html{
    box-sizing: border-box;
}

*,*:after,*:before{
    box-sizing: inherit;
}

body{
    font-family: "Roboto", sans-serif;
    font-size: 62.5%;
    margin: 0 auto;
}

/*===========================================================================
COMPONENTS
===========================================================================*/
header{
    border-top: 4px solid #E25254;
}

header .wrapper{
    display: flex;
    justify-content: space-between;
    padding: 15px 100px;
    height: 70px;
}

div.wrapper{
    max-width: 1400px;
    margin: 0 auto;
}

.hero{
    background: url("../images/bg-hero.png");

}

section.hero .wrapper{
    height: 600px;
    padding: 45px 100px;
    display: flex;
    justify-content: flex-end;
}



/*===========================================================================
ELEMENTS
===========================================================================*/

ul{
    list-style-type: none;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    max-width: 300px;
    margin: 0;
    padding: 0;
}

a{
    font: 1.8em "Roboto", sans-serif;
    text-decoration: none;
    color: black;
}

header p{
    font: 4.2em "Josefin Sans", sans-serif;
    display: inline-block;
    margin: 0;
}

.boite-texte{
    background-color: rgba(226, 82, 84, 0.9);
    padding: 50px 30px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
}

.boite-texte p{
    color: white;
    font-size: 1.8em;
    line-height: 28px;
    margin: 0;
}

h1{
    color: white;
    font: bold 4.8em "Roboto",sans-serif;
    line-height: 55px;
    margin: 0;
    padding: 30px 0px;
}

.btn-portfolio{
    background-color: #C0392B;
    color: white;
    display: inline-block;
    align-self: flex-end;
    justify-self: flex-end;
    padding: 10px 20px;
    font: 1.8em "Roboto", sans-serif;
}
